html {
    background: black;
    font-family: 'Raleway', sans-serif;
    padding: 0;
   
}



* {
    margin: 0;
    padding: 0;
}


.root-container{
    display: grid;
    justify-content: normal;
    grid-template-columns: auto;
    overflow: hidden;
    
    .head-band-group{
        position: relative;
        .head-band{
            width:100%;
            
        }
        .title-group{
            position:absolute;
            top: 40%;
            color:white;
            display:grid;
            justify-items: baseline;
            margin-left: 7%;
            text-shadow: 1px 1px 1px black;
            h1{
              font-size: 4vw;
              
            }
            h2{
              font-size: 3vw;
              
            }
        }
    }
    
}


//navbar 1
.nav-bar-one {
    background-color: black;
    padding: 1em;
    overflow: hidden;
    i {
      cursor: pointer;
      color: #FFF;
    }
    a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 0 0.6em;
        &:hover{
            text-decoration:underline;
        }
    }
    .logo {
        width: 145px;
    }
    .nav-wide {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto auto auto;//defines the number of columns in the grid layout,
        .menu, .button-set{
            align-content: center;
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
    }
    
    .nav-narrow{
        display:grid;
        justify-content: space-between;
        grid-template-columns: auto auto;//defines the number of columns in the grid layout,
	
		.narrow-links {
			display: none;
			a {
				text-decoration: none;
				display: block;
                padding: 0.5em 0;
                &:hover{
                    text-decoration:underline;
                }
			}
		}
    }
}


$nav-break-point: 880px;
//Breakpoint to define when the "hamburger" appears
 @media (min-width: $nav-break-point) {
  .nav-bar-one {
    .nav-narrow {
      display: none;
    }
  }
}

@media (max-width: $nav-break-point) {
    .nav-bar-one {
        .nav-wide {
            display: none;
        }
        .nav-narrow {
            display: grid;
        }
    }
}



//navbar 2
.nav-bar-two {
    background-color: white;
    padding: 1em;
    overflow: hidden;

    i {
      cursor: pointer;
      color: black;
    }

    .nav-wide {

        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto auto;//defines the number of columns in the grid layout,
       
        .menu{
            align-content: center;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            .link {
                color: black;
                text-decoration: underline;
                padding: 0 0.3em;
            }
            .legend{
                color: black;
                font-weight: bold;
                text-decoration:none;
            }
        }
        .search{
            align-content: center;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: flex-start;
            .link {
                color: black;
                text-decoration: underline;
                padding: 0 0.3em;
            }
            .legend{
                color: black;
                font-weight: bold;
                text-decoration:none;
            }
        }
    }
    
   
}


@media (max-width: $nav-break-point) {
    .nav-bar-two {
        .nav-wide {
            grid-template-columns:auto;
            // .menu{
            //     grid-template-columns:auto
            // }
            .search{
                margin-top: 10px;
            }
     
        }
     
       
    }
}


@media (max-width: 570px) {
    .nav-bar-two {
        .nav-wide {
            grid-template-columns:auto;
            justify-content: left;
            .menu{
                grid-template-columns:auto;
                .link{
                    padding:0;
                }
                .legend{
                    margin-bottom: 5px;
                }
            }
            .search{
                margin-top: 10px;
            }
        }
    }
}