
$break-point-1: 520px;
$break-point-2: 550px;
$break-point-3: 870px;
$break-point-4: 1020px;

* {
    margin: 0;
    padding: 0;
}

html {
    background: white;
    font-family: 'Raleway', sans-serif;
}

.root-container {
    display: grid;
    justify-content: normal;
    grid-template-columns: auto;
    overflow: hidden;
    font-size: 0.9em;

    .btn{
        background-color: black;
        color:white;
        width:243px;
        padding:10px;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: rgb(39, 39, 39);
        }
    }
  
    .arrow-down {
        width: 0px;
        height: 0px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 9px solid black;
        display: inline-block;
        margin-left: 8px;
        margin-top:2px;
    }    

    .head-band-group {
        position: relative;
        .head-band{
            width:100%;
        }
        .title-group{
            position:absolute;
            top: 30%;
            color:white;
            display:grid;
            justify-items: baseline;
            margin-left: 5%;
            text-shadow: 1px 1px 1px #898989b5;
            h1{
              font-size: 2em;
            }
            h2{
              font-size: 1em;
            }
        }
    }

    .delimiter{
        display: grid;
        grid-template-columns: 50% 40%;
        justify-content: space-evenly;
        padding:0px 20px 0 20px;
        .bar {
          border-bottom: 3px solid #d7d7d7;
          text-align: justify;
        }
    }

    .content{
        background-color: white;
        display: grid;
        grid-template-columns: 50% 40%;
        justify-content: space-evenly;
        padding:0.8em;
        .description {
          padding-bottom: 30px;
          margin-top: 10px;  
          text-align: justify;
          h2 {
            font-weight: normal;
            margin-bottom: 20px;
          }
          h3 {
            margin-bottom: 15px;
            font-style: oblique;
            font-size: 1em;
          }
          p {
            font-style: oblique;
          }
          .voucher{  
            width: 257px;
            margin-top: 30px;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
          } 
        }

        .offer{
            margin-bottom: 20px;
            display:flex;
            flex-direction: row;
            .image{
               width:40%;
               img{
                   width:100%;
               }
            }
            .text{
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                width: 60%;
                padding: 10px;
                .title{
                    font-size:1.1em;
                    margin-bottom: 0;
                    font-weight: bold;
                    text-decoration: underline;
                    text-align: left;
                }
                p  span {
                    font-weight: bold;
                }
                .btn{
                    width:200px;
                    font-weight: bold;
                }
            }
          
        }

        .right-bloc{
            visibility: hidden;
            width:286px;
        }

        .purchase{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            margin-top: 20px;
            padding: 10px;
            height: 133px;
            .cart{
                width:30px;
            }
            .basket-title{
                margin-left: 5px;
                font-style: oblique;
            }
            .form-control{
                border: 0.5px solid #c7c7c7;
                padding: 12px 28px 12px 28px;
                font-size: 1em;
                background-color: white;
                cursor: pointer;
            }
            .form-group {
                display:flex;
            
                .select-person-btn,  .select-person-price {
                    border: 0.5px solid rgb(199, 199, 199);
                    padding: 12px 28px 12px 28px;
                }
                .select-person-btn {
                    font-weight: normal;
                    cursor: pointer;
                    .nb-person{
                        display: inline-block;
                    }
                }
                .select-person-price{
                    margin-left:-1px;
                }
            }
        }
    }

    .footer-one{
        background-color: #4a4a4a;
        color:white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        input[type='text'] {
            height:36px;
            text-align: center;
            border:none;
        }
        input[type='submit'] {
            background: #ff7300;;
            color:white;
            font-size: 0.8em;
            border: none;
            padding: 8px;
            cursor: pointer;
            margin-left: 7px;
            width: 45px;
            height: 36px;
            &:hover{
                background: #ff8725;;
            }
        }
        .item{
            margin:5px;
        }
    }

  
    .footer-two{
        background-color: black;
        color:white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        // grid-column-gap: 10px;
        // grid-row-gap: 10px;
        padding: 25px 10px 10px 10px;
        font-size: 1em;
        justify-items: center;
        .item-1 {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          .logo{
            width:120px;
          }
        }

        .item-2{
          grid-column: 1 / 2;
          grid-row: 2 / 3;
        }
        
        .item-3{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
          
        .item-4{
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }        

        .item-5 {
            grid-column: 1 / 4;
            grid-row: 3 / 4;
            margin: 15px 5px 0px 5px;
        }
        
        .item-2, .item-3, .item-4 {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            a {
                color: white;
                
                text-decoration:none;
                &:hover{
                    text-decoration:underline;
                }
            }
            button{
                background-color: #4a4a4a;
                color:white;
                border:none;
                padding:8px;
                cursor: pointer;
                margin:8px 5px 0 5px;
                font-size: 1em;
                &:hover{
                    background-color: #6e6e6e;
                }
            }
            h3, a{
                margin: 5px;
            }
           
        }
    }    
}


//navbar 1
.nav-bar-one {
    background-color: black;
    padding: 0.8em 0.8em 0.5em 0.8em;
    overflow: hidden;
    .social-network {    
      display: flex;
      .icon{
        fill:white;
        height: 15px;
        cursor: pointer;
      }
    }
      
    .bars{
        fill:white;
        width: 27px;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 0 0.6em;
        &:hover{
            text-decoration:underline;
        }
    }

    .logo {
        width: 145px;
    }

    .nav-wide {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto auto auto;
        .menu, .button-set{
            align-content: center;
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 8px;
            a{
              margin-top:3px;
            }
        }
    }
    
    .nav-narrow{
        display:grid;
        justify-content: space-between;
        grid-template-columns: auto auto;
	
		.narrow-links {
            height:0;
            margin-top: 5px;
            transition: all 0.3s ease-out;
			a {
				text-decoration: none;
				display: block;
                padding: 0.4em 0;
                &:hover{
                    text-decoration: underline;
                }
            }
            .button-set{
                display:flex;
                justify-content: space-between;
                a {
                    margin-right: 20px;
                }
            }
		}
    }
}


//navbar 2
.nav-bar-two {
    background-color: white;
    //padding: 1em;
    overflow: hidden;

    i {
      cursor: pointer;
      color: black;
    }

    .nav-wide {
        display: grid;
        grid-template-columns: 50% 40%;
        justify-content: space-evenly;
        padding: 0.8em;

        .menu{
            align-content: center;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            list-style-type: none;
            .link {
                color: black;
                text-decoration: underline;
                padding: 0 0.3em;
            }
            .legend{
                color: black;
                font-weight: bold;
                text-decoration:none;
            }
        }
        .search{
            align-content: center;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: flex-start;
            .link {
                color: black;
                text-decoration: underline;
                padding: 0 0.3em;
            }
            .legend{
                color: black;
                font-weight: bold;
                text-decoration:none;
            }
        }
    }
}


@media (min-width: $break-point-3) { 
   //Breakpoint to define when the "hamburger" appears
    .nav-bar-one {
        .nav-narrow {
            display: none;
        }
    }
    .root-container {
        .head-band-group{
            .title-group{
                h1{
                   font-size: 3em;
                }
                h2{
                   font-size: 2em;
                }
            }
        }
    }
}

  
@media (max-width: $break-point-3) {
    .root-container {
        .content {
            grid-template-columns: none;
        }
    }
    .nav-bar-one {
        .nav-wide {
            display: none;
        }
        .nav-narrow {
            display: grid;
            .bars { margin-top: 6px; }
            .button-set{
                flex-direction:column;
            }
        }
    }
    .delimiter {
        grid-template-columns: 100%!important;
    }
}

@media (max-width: $break-point-4) {
    .nav-bar-two {
        .nav-wide {
            grid-template-columns:auto;
            
            justify-content: flex-start;
            .search{
                margin-top: 10px;
            }
           
        }
    }
}

@media (max-width: $break-point-1) {
    .nav-bar-two {
        .nav-wide {
            grid-template-columns:auto;
            justify-content: left;
            .menu{
                grid-template-columns:auto;
                
                .link{
                    padding: 0.4em 0;
                }
                .legend{
                    margin-bottom: 5px;
                }
                grid-gap: 8px;
            }
            .search{
                margin-top: 10px;
            }
        }
    }

    .root-container .content .offer .text {
        font-size: 0.8em;
        .btn{
            width:120px;
        }
    }

    .footer-two{
      display: block!important;
      font-size: 1em;
    }
}


@media (max-width: $break-point-2) {
    .footer-one{
        flex-direction: column!important;
    }
}